{"openapi":"3.0.2","info":{"version":"1.0.0","title":"Paperform API","contact":{"name":"Paperform API Support","url":"https://paperform.co","email":"support@paperform.co"}},"servers":[{"url":"https://api.paperform.co/v1"}],"components":{"schemas":{"Form":{"type":"object","properties":{"id":{"type":"string","format":"uuid","readOnly":true,"description":"The unique identifier of the form.","example":"5d40fdaf174b4c0007043072"},"slug":{"type":"string","description":"The default generated slug for the form.","readOnly":true,"example":"67fqxwkp"},"custom_slug":{"type":"string","nullable":true,"description":"The custom slug for the form if set.","example":"my-form-slug"},"space_id":{"type":"integer","description":"The id of the Space which contains the form.","example":"5d40fdaf174b4c0007043072"},"title":{"type":"string","description":"The title of the form.","example":"My Form Title","nullable":true},"description":{"type":"string","description":"The description of the form.","example":"This is a description for my form","nullable":true},"cover_image_url":{"type":"string","nullable":true,"format":"uri","example":"https://s3-ap-southeast-2.amazonaws.com/paperform/u-22714/1/2019-04-14/58p3u6p/cabinet-clothes-clothes-hanger-996329.jpg","description":"The cover image for the form."},"url":{"type":"string","format":"uri","example":"https://lffa4fxo.paperform.co","description":"The main sharing URL for the form."},"additional_urls":{"type":"array","items":{"type":"string","format":"uri"},"description":"Additional URLs for the form"},"live":{"type":"boolean","description":"Indicates if the form is currently accepting submissions.","readOnly":true,"example":true},"tags":{"type":"array","nullable":true,"items":{"type":"string"},"description":"The tags assigned to the form."},"submission_count":{"type":"integer","description":"The number of submissions the form has received.","readOnly":true,"example":50},"created_at":{"type":"string","description":"A formatted date-time string in your account timezone indicating the time the form was created.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"},"updated_at":{"type":"string","description":"A formatted date-time string in your account timezone indicating the time the form was created.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"},"account_timezone":{"type":"string","description":"The configured timezone for your account.","readOnly":true,"example":"Australia/Sydney"},"created_at_utc":{"type":"string","format":"date-time","description":"A formatted date-time string in UTC indicating the time the form was created.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"},"updated_at_utc":{"type":"string","format":"date-time","description":"A formatted date-time string in UTC indicating the time the form was created.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"}}},"FormUpdate":{"type":"object","properties":{"title":{"type":"string","description":"The title of the form.","example":"My Form","nullable":true},"description":{"type":"string","description":"The description of the form.","example":"This is my form","nullable":true},"disabled":{"type":"boolean","description":"Whether the form is disabled.","example":false},"custom_slug":{"type":"string","description":"The custom slug of the form.","example":"my-form","nullable":true},"space_id":{"type":"string","description":"The ID of the space to move the form into. Must be a valid space accessible to the user.","example":"5d40fdaf174b4c0007043072","nullable":true},"translation_id":{"type":"string","description":"The ID of the translation to use on this form. Must be a valid translation accessible to the user. Setting to `null` will use the default account translation (English).","example":"5d40fdaf174b4c0007043072","nullable":true}}},"Submission":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The unique identifier of the Submission.","example":"5d40fdaf174b4c0007043072","readOnly":true},"form_id":{"type":"string","format":"uuid","description":"The id of the Form for the Submission.","example":"5d40fdaf174b4c0007043072","readOnly":true},"data":{"$ref":"#/components/schemas/SubmissionData"},"device":{"$ref":"#/components/schemas/Device"},"charge":{"$ref":"#/components/schemas/Charge"},"pdfs":{"type":"object","nullable":true,"additionalProperties":{"$ref":"#/components/schemas/Pdf"},"description":"The PDFs generated for the Submission."},"created_at":{"type":"string","description":"A formatted date-time string in your account timezone indicating the time the form was created.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"},"account_timezone":{"type":"string","description":"The configured timezone for your account.","example":"America/Los_Angeles","readOnly":true},"created_at_utc":{"type":"string","format":"date-time","description":"A formatted date-time string in UTC indicating the time the form was created.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"}}},"PartialSubmission":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The unique identifier of the Partial Submission.","example":"5d40fdaf174b4c0007043072","readOnly":true},"form_id":{"type":"string","format":"uuid","description":"The id of the Form for the Partial Submission.","example":"5d40fdaf174b4c0007043072","readOnly":true},"data":{"$ref":"#/components/schemas/SubmissionData"},"last_answered":{"type":"string","nullable":true},"submitted_at":{"type":"string","format":"date-string","nullable":true,"description":"If the partial submission was submitted, this will be set to a formatted date-time string in your account timezone indicating the time the submission was made.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"},"updated_at":{"type":"string","description":"A formatted date-time string in your account timezone indicating the last time the partial submission was updated.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"},"created_at":{"type":"string","description":"A formatted date-time string in your account timezone indicating the time the partial submission was created.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"},"account_timezone":{"type":"string","description":"The configured timezone for your account.","readOnly":true,"example":"America/New_York"},"submitted_at_utc":{"type":"string","format":"date-time","description":"A formatted date-time string in UTC indicating the time the form was created.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"},"created_at_utc":{"type":"string","format":"date-time","description":"A formatted date-time string in UTC indicating the time the form was created.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"},"updated_at_utc":{"type":"string","format":"date-time","description":"A formatted date-time string in UTC indicating the time the form was created.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"}}},"SubmissionData":{"type":"object","description":"The `data` object stores the answers from the form. Each value is stored against it's key. Note that custom keys are not used here.","properties":{"KEY":{"oneOf":[{"type":"string"},{"type":"number"},{"type":"array","items":{"oneOf":[{"type":"string"},{"type":"object"}]}},{"type":"object"},{"type":"boolean"}]}}},"Device":{"description":"Information about the device which made the submission.","type":"object","properties":{"type":{"type":"string"},"device":{"type":"string"},"platform":{"type":"string"},"browser":{"type":"string"},"embedded":{"type":"boolean"},"url":{"type":"string","format":"uri"},"user_agent":{"type":"string"},"utm_source":{"type":"string"},"utm_medium":{"type":"string"},"utm_campaign":{"type":"string"},"utm_term":{"type":"string"},"utm_content":{"type":"string"},"ip_address":{"type":"string"}}},"Charge":{"description":"Information about payments relating to the submission.","type":"object","properties":{"products":{"description":"The products included in the charge.","type":"object","additionalProperties":{"$ref":"#/components/schemas/Product"}},"summary":{"description":"A summary of the charge.","type":"string"},"discount":{"description":"The total discount applied to the charge.","type":"integer"},"discounted_subscriptions":{"description":"The IDs of discounted subscriptions in the charge.","type":"array","items":{"type":"string"}},"coupon":{"description":"If a coupon was applied to the charge.","type":"boolean"},"total":{"description":"The total of the charge.","type":"integer"},"tax":{"description":"The fixed tax amounts on the charge.","type":"integer"},"tax_percentage":{"description":"The percentage tax amounts on the charge.","type":"integer"},"processing_fee":{"description":"The processing fee on the charge.","type":"integer"},"authorize":{"description":"If the charge was only authorized for later capture.","type":"boolean"},"receipt_email":{"description":"The receipt email given in the checkout.","type":"string","format":"email","nullable":true},"customer":{"$ref":"#/components/schemas/Customer"},"charge":{"type":"string"},"payment_source_id":{"description":"The id of the payment source used to make the charge.","type":"integer"},"payment_source_service":{"description":"The payment service from the payment source used to make the charge.","type":"string"},"live":{"description":"If the charge was made in 'live' mode.","type":"boolean"}}},"Customer":{"description":"The customer attached to the charge.","type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"Pdf":{"type":"object","description":"The PDFs generated for the submission.","properties":{"url":{"type":"string","format":"uri"},"filename":{"type":"string"}}},"Product":{"description":"A product included in a charge.","type":"object","properties":{"price":{"type":"integer"},"total":{"type":"integer"},"quantity":{"type":"integer"},"summary":{"type":"string"}}},"ProductItem":{"type":"object","allOf":[{"$ref":"#/components/schemas/ProductUpdate"},{"type":"object","properties":{"SKU":{"type":"string","description":"Product SKU.","example":"PRODUCT-1"}}}],"required":["SKU","name","price"]},"ProductUpdate":{"type":"object","properties":{"name":{"type":"string","description":"Product name.","example":"Product 1","nullable":true},"quantity":{"type":"number","format":"int32","description":"Product quantity.","example":5,"nullable":true},"price":{"type":"number","format":"double","description":"Product price.","example":10,"nullable":true},"minimum":{"type":"number","format":"int32","description":"Minimum number of products to be selected.","example":1,"nullable":true},"maximum":{"type":"number","format":"int32","description":"Maximum number of products to be selected.","example":10,"nullable":true},"discountable":{"type":"boolean","description":"Whether the product can be discounted.","example":false,"nullable":true},"images":{"type":"array","description":"List of product images.","items":{"type":"object","properties":{"url":{"type":"string","description":"Image URL.","example":"https://example.com/image.jpg"},"width":{"type":"number","format":"int32","description":"Image width.","example":100},"height":{"type":"number","format":"int32","description":"Image height.","example":100}},"required":["url","width"]}}}},"ProductQuantity":{"type":"object","properties":{"quantity":{"type":"integer","description":"The quantity to update the product with.","example":10,"nullable":false}},"required":["quantity"]},"ProductSold":{"type":"object","properties":{"sold":{"type":"integer","description":"The sold amount for the product.","example":10,"nullable":false}},"required":["sold"]},"FormFieldCollectionItem":{"type":"object","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"properties":{"type":{"$ref":"#/components/schemas/FieldType"}}}]},"Field":{"discriminator":{"propertyName":"type"},"oneOf":[{"$ref":"#/components/schemas/address"},{"$ref":"#/components/schemas/appointment"},{"$ref":"#/components/schemas/calculations"},{"$ref":"#/components/schemas/choices"},{"$ref":"#/components/schemas/color"},{"$ref":"#/components/schemas/country"},{"$ref":"#/components/schemas/date"},{"$ref":"#/components/schemas/dropdown"},{"$ref":"#/components/schemas/email"},{"$ref":"#/components/schemas/file"},{"$ref":"#/components/schemas/hidden"},{"$ref":"#/components/schemas/image"},{"$ref":"#/components/schemas/matrix"},{"$ref":"#/components/schemas/number"},{"$ref":"#/components/schemas/phone"},{"$ref":"#/components/schemas/price"},{"$ref":"#/components/schemas/products"},{"$ref":"#/components/schemas/rank"},{"$ref":"#/components/schemas/rating"},{"$ref":"#/components/schemas/scale"},{"$ref":"#/components/schemas/signature"},{"$ref":"#/components/schemas/slider"},{"$ref":"#/components/schemas/subscriptions"},{"$ref":"#/components/schemas/text"},{"$ref":"#/components/schemas/time"},{"$ref":"#/components/schemas/url"},{"$ref":"#/components/schemas/yesNo"}]},"FieldType":{"type":"string","example":"text","description":"The type of field.","readOnly":true,"enum":["text","email","url","yesNo","color","number","phone","address","country","appointment","date","time","scale","slider","choices","dropdown","image","file","signature","price","products","subscriptions","calculations","hidden","rank","rating","matrix"]},"FieldOptions":{"type":"object","properties":{"options":{"description":"A list of options.","type":"array","example":["Option 1","Option 2","Option 3","etc."],"items":{"type":"string"}}}},"FormFieldStandardProperties":{"type":"object","description":"Other type of form field.","properties":{"key":{"type":"string","example":"3jbh8","readOnly":true,"description":"The unique key for this field."},"title":{"type":"string","nullable":true,"description":"The title of this field."},"description":{"type":"string","nullable":true,"description":"The description of this field."},"required":{"type":"boolean","example":true,"nullable":true,"description":"Whether this field is required."},"custom_key":{"type":"string","nullable":true,"description":"The custom key of this field."},"placeholder":{"type":"string","nullable":true,"description":"The placeholder for this field."}}},"text":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"text","readOnly":true,"description":"The type of field (Text).","enum":["text"]}}}]},"email":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"email","readOnly":true,"description":"The type of field (Email).","enum":["email"]}}}]},"url":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"url","readOnly":true,"description":"The type of field (Url).","enum":["url"]}}}]},"yesNo":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"yesNo","readOnly":true,"description":"The type of field (Yes/No).","enum":["yesNo"]}}}]},"color":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"color","readOnly":true,"description":"The type of field (Color Picker).","enum":["color"]}}}]},"number":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"number","readOnly":true,"description":"The type of field (Number).","enum":["number"]}}}]},"phone":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"phone","readOnly":true,"description":"The type of field (Phone Number).","enum":["phone"]}}}]},"address":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"address","readOnly":true,"description":"The type of field (Address).","enum":["address"]}}}]},"country":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"country","readOnly":true,"description":"The type of field (Country).","enum":["country"]}}}]},"appointment":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"appointment","readOnly":true,"description":"The type of field (Appointment).","enum":["appointment"]}}}]},"date":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"date","readOnly":true,"description":"The type of field (Date).","enum":["date"]}}}]},"time":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"time","readOnly":true,"description":"The type of field (Time).","enum":["time"]}}}]},"slider":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"slider","readOnly":true,"description":"The type of field (Slider).","enum":["slider"]}}}]},"image":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"image","readOnly":true,"description":"The type of field (Image).","enum":["image"]}}}]},"file":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"file","readOnly":true,"description":"The type of field (File).","enum":["file"]}}}]},"signature":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"signature","readOnly":true,"description":"The type of field (Signature).","enum":["signature"]}}}]},"price":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"price","readOnly":true,"description":"The type of field (Price).","enum":["price"]}}}]},"subscriptions":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"subscriptions","readOnly":true,"description":"The type of field (Subscriptions).","enum":["subscriptions"]}}}]},"hidden":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"hidden","readOnly":true,"description":"The type of field (Hidden).","enum":["hidden"]}}}]},"rating":{"type":"object","description":"Other field type","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"rating","readOnly":true,"description":"The type of field (Rating).","enum":["rating"]}}}]},"matrix":{"type":"object","description":"Matrix field type.","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"matrix","readOnly":true,"description":"The type of field (Matrix).","enum":["matrix"]},"matrix":{"type":"object","properties":{"rows":{"type":"array","description":"The labels for the matrix rows. Maximum 50 rows, each label up to 50 characters.","maxItems":50,"example":["Row 1","Row 2","Row 3"],"items":{"type":"string","maxLength":50}},"columns":{"type":"array","description":"The labels for the matrix columns. Maximum 50 columns, each label up to 50 characters.","maxItems":50,"example":["Column 1","Column 2","Column 3"],"items":{"type":"string","maxLength":50}}}}}}]},"dropdown":{"type":"object","description":"Dropdown field type.","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"dropdown":{"$ref":"#/components/schemas/FieldOptions"},"type":{"type":"string","example":"dropdown","readOnly":true,"description":"The type of field (Dropdown).","enum":["dropdown"]}}}]},"choices":{"type":"object","description":"Choices field type.","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"choices":{"$ref":"#/components/schemas/FieldOptions"},"type":{"type":"string","example":"choices","description":"The type of field (Multiple Choice).","readOnly":true,"enum":["choices"]}}}]},"scale":{"type":"object","description":"Scale field type.","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"scale":{"$ref":"#/components/schemas/FieldOptions"},"type":{"type":"string","example":"scale","description":"The type of field (Scale).","readOnly":true,"enum":["scale"]}}}]},"rank":{"type":"object","description":"Rank field type.","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"rank":{"$ref":"#/components/schemas/FieldOptions"},"type":{"type":"string","example":"rank","description":"The type of field (Rank).","readOnly":true,"enum":["rank"]}}}]},"products":{"type":"object","description":"Products field type.","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"products","readOnly":true,"description":"The type of field (Product).","enum":["products"]},"products":{"type":"object","properties":{"products":{"type":"array","description":"List of products.","items":{"$ref":"#/components/schemas/ProductItem"}}}}}}]},"calculations":{"type":"object","description":"Calculations field type.","allOf":[{"$ref":"#/components/schemas/FormFieldStandardProperties"},{"type":"object","properties":{"type":{"type":"string","example":"calculations","readOnly":true,"description":"The type of field (Calculation).","enum":["calculations"]},"calculations":{"type":"object","properties":{"calculation":{"type":"string","description":"The calculation to perform.","example":"1 + 1"}}}}}]},"CouponWithCode":{"type":"object","allOf":[{"properties":{"code":{"type":"string","description":"The coupon code.","example":"DISCOUNT1"}}},{"$ref":"#/components/schemas/CouponWithoutCode"}]},"CouponWithoutCode":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether the coupon is enabled or not.","example":true},"target":{"type":"string","example":"price","description":"The target of the coupon.","enum":["price","subscription"]},"discountAmount":{"type":"number","example":10,"description":"The discount as an amount.","minimum":0},"discountPercentage":{"type":"number","example":10,"maximum":100,"minimum":0,"description":"The discount as a percentage."},"expiresAt":{"type":"string","format":"date-time","nullable":true,"example":"2020-01-01T00:00:00.000Z","description":"The date and time when the coupon expires."}}},"Webhook":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The id of the webhook.","readOnly":true},"target_url":{"type":"string","format":"url","example":"https://example.com/webhook","description":"The url for the webhook."},"triggers":{"type":"array","description":"The triggers for the webhook.","example":["submission"],"items":{"type":"string","enum":["submission","partial_submission"]}},"created_at":{"type":"string","format":"date-time","description":"A formatted date-time string in your account timezone indicating the time the webhook was created.","example":"2018-01-01T12:00:00Z","readOnly":true},"updated_at":{"type":"string","format":"date-time","description":"A formatted date-time string in your account timezone indicating the time the webhook was last updated.","example":"2018-01-01T12:00:00Z","readOnly":true},"account_timezone":{"type":"string","description":"The timezone of your account.","example":"America/Los_Angeles","readOnly":true},"created_at_utc":{"type":"string","format":"date-time","description":"A formatted date-time string in UTC timezone indicating the time the webhook was created.","example":"2018-01-01T12:00:00Z","readOnly":true},"updated_at_utc":{"type":"string","format":"date-time","description":"A formatted date-time string in UTC timezone indicating the time the webhook was last updated.","example":"2018-01-01T12:00:00Z","readOnly":true}}},"Space":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The unique identifier of the space.","readOnly":true},"name":{"type":"string","description":"The name of the space.","example":"My Space"},"created_at":{"type":"string","format":"date-time","description":"A formatted date-time string in your account timezone indicating the time the space was created.","example":"2016-08-25T21:10:29Z","readOnly":true},"updated_at":{"type":"string","format":"date-time","description":"A formatted date-time string in your account timezone indicating the time the space was last updated.","example":"2016-08-25T21:10:29Z","readOnly":true},"account_timezone":{"type":"string","description":"The timezone of your account.","example":"America/Los_Angeles","readOnly":true},"created_at_utc":{"type":"string","format":"date-time","description":"A formatted date-time string in UTC timezone indicating the time the space was created.","example":"2016-08-25T21:10:29Z","readOnly":true},"updated_at_utc":{"type":"string","format":"date-time","description":"A formatted date-time string in UTC timezone indicating the time the space was last updated.","example":"2016-08-25T21:10:29Z","readOnly":true}}},"Translation":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The unique identifier of the translation.","example":"5d40fdaf174b4c0007043072","readOnly":true},"title":{"type":"string","description":"The title of the translation.","example":"My German Translation"},"language":{"$ref":"#/components/schemas/Language"},"mapping":{"type":"object","description":"The mapping for translations.","example":{"submitting":"Submitting..."}},"subsets":{"type":"object","description":"The subsets for the translation."},"rtl":{"type":"boolean","default":false,"description":"Whether the translation is right-to-left.","example":false},"created_at":{"type":"string","format":"date-time","description":"A formatted date-time string in your account timezone indicating the time the translation was created.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"},"updated_at":{"type":"string","format":"date-time","description":"A formatted date-time string in your account timezone indicating the time the translation was last updated.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"},"account_timezone":{"type":"string","description":"The timezone of your account.","readOnly":true,"example":"America/Los_Angeles"},"created_at_utc":{"type":"string","format":"date-time","description":"A formatted date-time string in UTC timezone indicating the time the translation was created.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"},"updated_at_utc":{"type":"string","format":"date-time","description":"A formatted date-time string in UTC timezone indicating the time the translation was last updated.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"}}},"Language":{"type":"string","example":"German","enum":["Abkhazian","Afar","Afrikaans","Akan","Albanian","Amharic","Arabic","Aragonese","Armenian","Assamese","Avaric","Avestan","Aymara","Azerbaijani","Bambara","Bashkir","Basque","Belarusian","Bengali","Bihari languages","Bislama","Bosnian","Breton","Bulgarian","Burmese","Catalan, Valencian","Central Khmer","Chamorro","Chechen","Chichewa, Chewa, Nyanja","Chinese","Church Slavonic, Old Bulgarian, Old Church Slavonic","Chuvash","Cornish","Corsican","Cree","Croatian","Czech","Danish","Divehi, Dhivehi, Maldivian","Dutch, Flemish","Dzongkha","English","Esperanto","Estonian","Ewe","Faroese","Fijian","Finnish","French","Fulah","Gaelic, Scottish Gaelic","Galician","Ganda","Georgian","German","Gikuyu, Kikuyu","Greek (Modern)","Greenlandic, Kalaallisut","Guarani","Gujarati","Haitian, Haitian Creole","Hausa","Hebrew","Herero","Hindi","Hiri Motu","Hungarian","Icelandic","Ido","Igbo","Indonesian","Interlingua (International Auxiliary Language Association)","Interlingue","Inuktitut","Inupiaq","Irish","Italian","Japanese","Javanese","Kannada","Kanuri","Kashmiri","Kazakh","Kinyarwanda","Komi","Kongo","Korean","Kwanyama, Kuanyama","Kurdish","Kyrgyz","Lao","Latin","Latvian","Letzeburgesch, Luxembourgish","Limburgish, Limburgan, Limburger","Lingala","Lithuanian","Luba-Katanga","Macedonian","Malagasy","Malay","Malayalam","Maltese","Manx","Maori","Marathi","Marshallese","Moldovan, Moldavian, Romanian","Mongolian","Nauru","Navajo, Navaho","Northern Ndebele","Ndonga","Nepali","Northern Sami","Norwegian","Norwegian Bokmål","Norwegian Nynorsk","Nuosu, Sichuan Yi","Occitan (post 1500)","Ojibwa","Oriya","Oromo","Ossetian, Ossetic","Pali","Panjabi, Punjabi","Pashto, Pushto","Persian","Polish","Portuguese","Quechua","Romansh","Rundi","Russian","Samoan","Sango","Sanskrit","Sardinian","Serbian","Shona","Sindhi","Sinhala, Sinhalese","Slovak","Slovenian","Somali","Sotho, Southern","South Ndebele","Spanish, Castilian","Sundanese","Swahili","Swati","Swedish","Tagalog","Tahitian","Tajik","Tamil","Tatar","Telugu","Thai","Tibetan","Tigrinya","Tonga (Tonga Islands)","Tsonga","Tswana","Turkish","Turkmen","Twi","Uighur, Uyghur","Ukrainian","Urdu","Uzbek","Venda","Vietnamese","Volap_k","Walloon","Welsh","Western Frisian","Wolof","Xhosa","Yiddish","Yoruba","Zhuang, Chuang","Zulu"]},"Document":{"type":"object","properties":{"id":{"type":"string","format":"uuid","readOnly":true,"description":"The unique identifier of the document.","example":"5d40fdaf174b4c0007043072"},"name":{"type":"string","description":"The name of the document.","example":"My Document"},"status":{"type":"string","enum":["draft","archived","in_progress","canceled","completed","expired","rejected"],"description":"The status of the document.","example":"completed"},"folder":{"$ref":"#/components/schemas/PapersignFolder"},"space":{"$ref":"#/components/schemas/PapersignSpace"},"signers":{"type":"array","items":{"$ref":"#/components/schemas/Signer"}},"variables":{"type":"array","items":{"$ref":"#/components/schemas/PapersignVariable"}},"created_at_utc":{"type":"string","format":"date-time","description":"A formatted date-time string in UTC indicating the time the document was created.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"},"updated_at_utc":{"type":"string","format":"date-time","description":"A formatted date-time string in UTC indicating the time the document was last updated.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"},"sent_at_utc":{"type":"string","format":"date-time","description":"A formatted date-time string in UTC indicating the time the document was sent.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"},"completed_at_utc":{"type":"string","format":"date-time","description":"A formatted date-time string in UTC indicating the time the document was completed.","readOnly":true,"example":"2019-04-14T09:00:00.000Z"},"source":{"type":"object","nullable":true,"readOnly":true,"description":"Where the document originated. For a document created from a Paperform submission this carries the originating form and submission IDs, letting you correlate a submission with its signed document without relying on the `document.sent` webhook.\n","properties":{"type":{"type":"string","enum":["paperform_submission","manual","public_api"],"description":"How the document was created.","example":"paperform_submission"},"paperform_form_id":{"type":"string","nullable":true,"description":"The Paperform form ID the document was created from. Only present for `paperform_submission`.","example":"iwl6j5lh"},"paperform_submission_id":{"type":"string","nullable":true,"description":"The Paperform submission ID the document was created from. Only present for `paperform_submission`. Filter the list endpoint by this via `?paperform_submission_id=`.","example":"6a18dfcdcc9dc182fc0031cc"}}}}},"DocumentMove":{"type":"object","properties":{"name":{"type":"string","description":"The new name of the document.","example":"My Copied Document"},"space_id":{"type":"number","format":"int32","description":"The unique identifier of the space to move the document to.","example":8888},"path":{"type":"string","maxLength":100,"description":"The path to move the document to. Maximum depth is 4 levels. Any missing folders will be created.","example":"/path/to/folder"},"folder_id":{"type":"number","format":"int32","description":"The unique identifier of the folder to move the document to. Required when space_id and path are not present.","example":9999}}},"DocumentCopy":{"type":"object","properties":{"name":{"type":"string","description":"The new name of the document.","example":"My Copied Document"},"space_id":{"type":"number","format":"int32","description":"The unique identifier of the space to copy the document to.","example":8888},"path":{"type":"string","maxLength":100,"description":"The path to copy the document to. Maximum depth is 4 levels. Any missing folders will be created.","example":"/path/to/folder"},"folder_id":{"type":"number","format":"int32","description":"The unique identifier of the folder to copy the document to. Required when space_id and path are not present.","example":9999}}},"DocumentSend":{"type":"object","properties":{"expiration":{"type":"string","format":"date-time","description":"The expiration date of the document. Must be at least 30 minutes in the future.","example":"2020-12-31T23:59:59Z"},"invite_message":{"type":"string","maxLength":1000,"description":"The message to include in the invitation email.","example":"Please sign this document."},"from_user_email":{"type":"string","format":"email","description":"The email address of a User on your teams account to send the document from. The User's name and email will appear on the notification email.","example":"example@paperform.co"},"document_recipient_emails":{"type":"array","maxItems":5,"items":{"type":"string","format":"email","description":"The email address of the recipient.","example":"signer@example.com"}},"automatic_reminders":{"type":"object","properties":{"first_after_days":{"type":"number","format":"int32","description":"The number of days after the document is sent to send the reminder.","minimum":1,"example":3},"follow_up_every_days":{"type":"number","format":"int32","description":"The number of days to wait between reminders.","minimum":1,"example":3}},"required":["first_after_days","follow_up_every_days"]},"signers":{"type":"array","items":{"$ref":"#/components/schemas/Signer"}},"variables":{"type":"array","items":{"$ref":"#/components/schemas/PapersignVariable"}},"copy":{"description":"Whether to copy before sending. Can be a boolean or an object. If value is true, the document will be copied with the same name and location.","oneOf":[{"type":"boolean","example":true},{"$ref":"#/components/schemas/DocumentCopy"}]}}},"DocumentCreateDraft":{"type":"object","properties":{"signers":{"type":"array","description":"An array of signers with updated data. All signers must be present with the same keys as the original document.","items":{"$ref":"#/components/schemas/Signer"}},"variables":{"type":"array","description":"An array of variables with updated values. Only the variables you want to update need to be included.","items":{"$ref":"#/components/schemas/PapersignVariable"}},"copy":{"description":"Whether to copy before creating the draft. Can be a boolean or an object. If value is true, the document will be copied with the same name and location.","oneOf":[{"type":"boolean","example":true},{"$ref":"#/components/schemas/DocumentCopy"}]}}},"PapersignFolder":{"type":"object","properties":{"id":{"type":"number","format":"int32","readOnly":true,"description":"The unique identifier of the folder.","example":9999},"name":{"type":"string","description":"The name of the document.","example":"My Document"},"parent_id":{"type":"number","format":"int32","description":"The unique identifier of the parent folder.","example":9999,"nullable":true},"space_id":{"type":"number","format":"int32","description":"The unique identifier of the space.","example":8888}},"required":["name"]},"PapersignFolderCreate":{"type":"object","properties":{"name":{"type":"string","description":"The new name of the folder.","example":"My new folder"},"space_id":{"type":"number","format":"int32","description":"The unique identifier of the space to create the folder in.","example":8888},"path":{"type":"string","maxLength":100,"description":"The path to create the folder in. Maximum depth is 4 levels. Any missing folders will also be created.","example":"/path/to/folder"},"folder_id":{"type":"number","format":"int32","description":"The unique identifier of the folder to create the folder in. Required when space_id and path are not present.","example":9999}},"required":["name"]},"PapersignSpace":{"type":"object","properties":{"id":{"type":"number","format":"int32","readOnly":true,"description":"The unique identifier of the folder.","example":9999},"name":{"type":"string","description":"The name of the space.","example":"My Space"},"root_folder_id":{"type":"number","format":"int32","description":"The unique identifier of the root folder.","example":9999},"allow_team_access":{"type":"boolean","description":"Whether to allow team access to this space.","example":true}}},"Signer":{"type":"object","properties":{"key":{"type":"string","description":"The key for the signer.","example":"akdj17"},"name":{"type":"string","description":"The name of the signer.","example":"Jack Smith"},"email":{"type":"string","format":"email","description":"The signer's email address.","example":"signer@example.com"},"phone":{"type":"string","description":"The signer's phone number.","example":"123 456 7899","nullable":true},"job_title":{"type":"string","description":"The signer's job title.","example":"Account Manager","nullable":true},"company":{"type":"string","description":"The signer's company.","example":"Explosive Startup","nullable":true},"custom_attributes":{"type":"array","description":"Custom attributes for the signer.","items":{"type":"object","properties":{"key":{"type":"string","example":"Relationship"},"label":{"type":"string","example":"Relationship to the company","nullable":true},"value":{"type":"string","example":"CEO","nullable":true}}},"required":["key","label","value"]}},"required":["key","name","email"]},"GeneratedLink":{"type":"object","properties":{"participant_key":{"type":"string","description":"The key of the signer the link belongs to.","example":"akdj17"},"participant_name":{"type":"string","description":"The name of the signer the link belongs to.","example":"Jack Smith"},"link":{"type":"string","format":"uri","description":"The signing link for the signer. Valid for one week.","example":"https://sign.paperform.co/sign/5d40fdaf174b4c0007043072/akdj17/view/manual_link?action=5f80fdaf174b4c0007043099&expires=1751760000&signature=8f2c1d"}},"required":["participant_key","participant_name","link"]},"PapersignVariable":{"type":"object","properties":{"key":{"type":"string","readOnly":true,"description":"The key for the variable. Must be unique for the document.","example":"adk123"},"name":{"type":"string","description":"The name of the signer.","example":"Variable 1"},"value":{"type":"string","description":"The value of the variable.","example":"value 1"}},"required":["key"]},"PapersignWebhook":{"type":"object","properties":{"id":{"type":"number","format":"int64","description":"The ID of the webhook.","example":"5d40fdaf174b4c0007043072"},"target_url":{"type":"string","description":"The target URL for the webhook.","example":"https://example.com/webhook"},"scope":{"type":"string","enum":["folder.direct_children","folder.all_descendants"],"description":"The scope of the webhook.","example":"folder.direct_children"},"folder":{"$ref":"#/components/schemas/PapersignFolder"},"triggers":{"type":"array","items":{"type":"string","enum":["document.sent","document.completed","document.cancelled","document.rejected","document.expired","signer.notified","signer.viewed","signer.consent_accepted","signer.nominated","signer.signed"]},"description":"The triggers for the webhook.","example":["document.completed","document.cancelled"]}}},"PapersignWebhookUpdate":{"type":"object","properties":{"name":{"type":"string","description":"The name of the webhook.","example":"My Webhook"},"target_url":{"type":"string","format":"uri","description":"The target URL for the webhook.","example":"https://example.com/webhook"},"scope":{"type":"string","enum":["folder.direct_children","folder.all_descendants"],"description":"The scope of the webhook.","example":"folder.direct_children"},"triggers":{"type":"array","minItems":1,"description":"The triggers for the webhook.","example":["document.created","document.updated"],"items":{"type":"string","enum":["document.sent","document.completed","document.cancelled","document.rejected","document.expired","signer.notified","signer.viewed","signer.consent_accepted","signer.nominated","signer.signed"]}}}},"FileUrl":{"type":"object","properties":{"url":{"type":"string","format":"uri","description":"The URL of the file.","example":"https://paperform.co/file/s3.amazonaws.com/paperform/u-1/1/2019-04-14/58p3u6p/file.pdf"}}},"Pagination":{"type":"object","properties":{"total":{"type":"integer","description":"The total number of items.","readOnly":true,"example":57},"has_more":{"description":"Whether there are more items.","type":"boolean","example":true,"readOnly":true},"limit":{"description":"The limit of items per page.","type":"integer","example":20,"default":20},"skip":{"description":"The number of items to skip.","type":"integer","default":0,"example":0}}},"Error":{"type":"object","properties":{"status":{"type":"string","enum":["error"],"example":"error"},"message":{"type":"string","description":"An error message.","example":"Invalid request"},"details":{"type":"array","description":"Suggested actions to resolve the error.","items":{"type":"string"}}}}},"parameters":{"slugOrID":{"in":"path","name":"slug_or_id","required":true,"schema":{"type":"string"},"description":"The form's slug, custom slug or ID.","example":"my-form-slug"},"uuid":{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"},"description":"The id of the record to get.","example":"5d40fdaf174b4c0007043072"},"formIdParam":{"in":"query","name":"form","required":true,"schema":{"type":"string"},"description":"The slug, custom slug or ID of a Form to get results for.","example":"67fqxwkp"},"formSearch":{"in":"query","name":"search","schema":{"type":"string"},"description":"Search forms by title.","example":"John Doe"},"formSearchFields":{"in":"query","name":"search_fields","schema":{"type":"array","items":{"type":"string","enum":["title","slug","custom_slug"]}},"description":"Opt-in list of fields to match the `search` term against. When omitted, the `search` term is matched against the form title only. Provide one or more of `title`, `slug`, `custom_slug` to broaden the search (e.g. to find a form by its slug). Each field is matched as a partial, case-insensitive substring.\n","example":["title","slug"]},"fieldKey":{"in":"path","name":"field_key","required":true,"schema":{"type":"string"},"description":"The key of the field on the form.","example":"a1b2c3d4e5"},"fieldSearch":{"in":"query","name":"search","schema":{"type":"string"},"description":"Search fields by name.","example":"Name"},"productSKU":{"in":"path","name":"product_sku","required":true,"schema":{"type":"string"},"description":"The SKU of the product.","example":"SKU-123"},"productSearch":{"in":"query","name":"search","schema":{"type":"string"},"description":"Search products by name.","example":"chips"},"afterId":{"in":"query","name":"after_id","schema":{"type":"string"},"description":"Return results after the provided ID.","example":"5d40fdaf174b4c0007043072"},"beforeId":{"in":"query","name":"before_id","schema":{"type":"string"},"description":"Return results before the provided ID.","example":"5d40fdaf174b4c0007043072"},"skip":{"in":"query","name":"skip","schema":{"type":"integer","default":0},"description":"Number of results to skip in the result set."},"limit":{"in":"query","name":"limit","schema":{"type":"integer","maximum":100,"default":20},"description":"The number or results to return."},"sort":{"in":"query","name":"sort","schema":{"type":"string","enum":["ASC","DESC"],"default":"DESC"},"description":"The direction to sort in. Results are sorted by `created_at`, and defaults to `\"DESC\"`.","example":"ASC"},"beforeDate":{"in":"query","name":"before_date","schema":{"type":"string","format":"date-time"},"description":"Return results created on or after this date-time (UTC). Overwritten by `before_id`.","example":"2019-06-11T20:36:29Z"},"afterDate":{"in":"query","name":"after_date","schema":{"type":"string","format":"date-time"},"description":"Return results created before this date (UTC). Overwritten by `after_id`.","example":"2019-06-11T20:36:29Z"},"couponCode":{"in":"path","required":true,"name":"code","schema":{"type":"string"},"description":"The coupon code to get results for.","example":"DISCOUNT1"},"webhookID":{"in":"path","required":true,"name":"id","schema":{"type":"string"},"description":"The ID of the webhook to get results for.","example":"5d40fdaf174b4c0007043072"},"spaceID":{"in":"path","required":true,"name":"id","schema":{"type":"string"},"description":"The ID of the space to get results for.","example":"5d40fdaf174b4c0007043072"},"translationID":{"in":"path","required":true,"name":"id","schema":{"type":"string"},"description":"The ID of the translation to get results for.","example":"5d40fdaf174b4c0007043072"},"papersignDocumentID":{"in":"path","required":true,"name":"id","schema":{"type":"string"},"description":"The ID of the Papersign document.","example":"5d40fdaf174b4c0007043072"},"papersignParticipantKey":{"in":"path","required":true,"name":"participantKey","schema":{"type":"string"},"description":"The key of the signer (participant) on the document.","example":"akdj17"},"papersignFolderID":{"in":"path","required":true,"name":"id","schema":{"type":"number"},"description":"The ID of the Papersign folder.","example":"9999"},"papersignDocumentFolderId":{"in":"query","name":"folder_id","schema":{"type":"string"},"description":"Search documents by folder id.","example":"9999"},"papersignDescendantOfFolderId":{"in":"query","name":"folder_id","schema":{"type":"string"},"description":"Search folders that are descendants of folder id. Accepts either a current folder id or one issued before your account moved to unified spaces. Responds `422` if the id is not a positive integer, or names a folder that does not exist, has been deleted, or belongs to another team.","example":"9999"},"papersignDocumentSearch":{"in":"query","name":"search","schema":{"type":"string"},"description":"Search documents by name.","example":"John Doe"},"papersignDocumentSubmissionId":{"in":"query","name":"paperform_submission_id","schema":{"type":"string"},"description":"Filter to documents created from the given Paperform submission ID (matches `source.paperform_submission_id`). Use this to correlate a Paperform submission with its Papersign document without relying on the `document.sent` webhook.","example":"6a18dfcdcc9dc182fc0031cc"},"papersignSpaceId":{"in":"query","name":"space_id","schema":{"type":"string"},"description":"Search folders by space id. Accepts either a space id from `GET /papersign/spaces` or a space id issued before your account moved to unified spaces. Responds `422` if the id is not a positive integer, or names a space that does not exist, has been deleted, or belongs to another team.","example":"9999"},"papersignDocumentSpaceId":{"in":"query","name":"space_id","schema":{"type":"string"},"description":"Filter to documents anywhere within the given space, including documents in its nested folders. Accepts either a space id from `GET /papersign/spaces` or a space id issued before your account moved to unified spaces — both resolve to the same space, so an integration holding an older id keeps working. Responds `422` if the id is not a positive integer, or names a space that does not exist, has been deleted, or belongs to another team; the listing is never returned unfiltered in place of a rejected filter.","example":"9999"},"papersignDocumentStatus":{"in":"query","name":"status","schema":{"type":"array","items":{"type":"string","enum":["draft","inProgress","archived","canceled","expired","rejected","completed"]}},"style":"form","explode":true,"description":"Search documents by status.","example":"draft,inProgress"},"papersignWebhookID":{"in":"path","required":true,"name":"id","schema":{"type":"number"},"description":"The ID of the Papersign webhook.","example":9999},"folderSearch":{"in":"query","name":"search","schema":{"type":"string"},"description":"Search folders by name.","example":"John Doe"},"spaceSearch":{"in":"query","name":"search","schema":{"type":"string"},"description":"Search spaces by name.","example":"John Doe"}},"responses":{"NotFound":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","allOf":[{"$ref":"#/components/schemas/Error"},{"properties":{"error_type":{"type":"string","enum":["not_found"],"description":"The requested resource was not found."}}}]}}}},"Unauthorized":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","allOf":[{"$ref":"#/components/schemas/Error"},{"properties":{"error_type":{"type":"string","enum":["authentication"],"description":"Token not provided for not valid."}}}]}}}},"BadRequest":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","allOf":[{"$ref":"#/components/schemas/Error"},{"properties":{"error_type":{"type":"string","enum":["validation"],"description":"Invalid parameters provided."}}}]}}}},"Forbidden":{"description":"Not Permitted","content":{"application/json":{"schema":{"type":"object","allOf":[{"$ref":"#/components/schemas/Error"},{"properties":{"error_type":{"type":"string","enum":["permission"],"description":"Not permitted to access requested resource."}}}]}}}},"Unexpected":{"description":"Unexpected Error","content":{"application/json":{"schema":{"type":"object","allOf":[{"$ref":"#/components/schemas/Error"},{"properties":{"error_type":{"type":"string","enum":["server_error"],"description":"An unexpected error."}}}]}}}},"Validation":{"description":"Validation Error","content":{"application/json":{"schema":{"type":"object","allOf":[{"$ref":"#/components/schemas/Error"},{"properties":{"error_type":{"type":"string","enum":["validation"],"description":"Invalid parameters provided."}}}]}}}},"Throttled":{"description":"Too Many Requests","content":{"text/html":{"schema":{"type":"string","enum":["Too many requests."]}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}}},"security":[{"bearerAuth":[]}],"paths":{"/forms":{"get":{"parameters":[{"$ref":"#/components/parameters/formSearch"},{"$ref":"#/components/parameters/formSearchFields"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/afterId"},{"$ref":"#/components/parameters/beforeId"},{"$ref":"#/components/parameters/beforeDate"},{"$ref":"#/components/parameters/afterDate"},{"$ref":"#/components/parameters/sort"}],"description":"This endpoint returns a list of forms that are accessible by the authorized user. This feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"listForms","tags":["Forms"],"responses":{"200":{"description":"Successfully returned a list of forms","content":{"application/json":{"schema":{"type":"object","allOf":[{"properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"forms":{"type":"array","items":{"$ref":"#/components/schemas/Form"}}}}}},{"$ref":"#/components/schemas/Pagination"}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/forms/{slug_or_id}":{"get":{"parameters":[{"$ref":"#/components/parameters/slugOrID"}],"description":"This endpoint returns a specific form by slug or ID. This feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"getForm","tags":["Forms"],"responses":{"200":{"description":"Successfully returned a single form that matched the provided slug or ID\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"form":{"$ref":"#/components/schemas/Form"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"put":{"parameters":[{"$ref":"#/components/parameters/slugOrID"}],"description":"This endpoint updates a specific form by slug or ID.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"updateForm","tags":["Forms"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormUpdate"}}}},"responses":{"200":{"description":"Successfully updated a single form that matched the provided slug or ID\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"form":{"$ref":"#/components/schemas/Form"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/Validation"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/forms/{slug_or_id}/fields":{"get":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/fieldSearch"}],"description":"This endpoint returns the list of fields available for a specific form by slug or ID. This feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"listFormFields","tags":["Form Fields"],"responses":{"200":{"description":"Successfully returned fields for a single form that matched the provided slug or ID\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"fields":{"type":"array","items":{"$ref":"#/components/schemas/FormFieldCollectionItem"}}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/forms/{slug_or_id}/fields/{field_key}":{"get":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/fieldKey"}],"description":"This endpoint returns a fields for a specific form by field key.\nThis feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"getFormField","tags":["Form Fields"],"responses":{"200":{"description":"Successfully returned a field for a single form that matched the provided field key.\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"field":{"type":"object","oneOf":[{"$ref":"#/components/schemas/Field"}]}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"put":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/fieldKey"}],"description":"This endpoint updates a field on a form.\nThis feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"updateFormField","tags":["Form Fields"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Field"},"examples":{"update-dropdown-options":{"summary":"Update the options for a Dropdown field","value":{"dropdown":{"options":["Option 1","Option 2","Option 3"]}}},"update-choices-options":{"summary":"Update the options for a Choices field","value":{"choices":{"options":["Option 1","Option 2","Option 3"]}}},"update-scale-options":{"summary":"Update the options for a Scale field","value":{"scale":{"options":["Option 1","Option 2","Option 3"]}}},"update-rank-options":{"summary":"Update the options for a Rank field","value":{"rank":{"options":["Option 1","Option 2","Option 3"]}}},"update-calculations":{"summary":"Update the calculation for a Calculations field","value":{"calculations":{"calculation":"1 + 2"}}},"update-products":{"summary":"Update the products for a Products field","value":{"products":{"products":[{"SKU":"PRODUCT-1","name":"Product 1","price":1,"images":[{"url":"https://example.com/image1.jpg","width":100,"height":100}]}]}}}}}}},"responses":{"200":{"description":"Successfully updated a field with the provided values\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"field":{"$ref":"#/components/schemas/Field"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/Validation"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/forms/{slug_or_id}/submissions":{"get":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/afterId"},{"$ref":"#/components/parameters/beforeId"},{"$ref":"#/components/parameters/beforeDate"},{"$ref":"#/components/parameters/afterDate"},{"$ref":"#/components/parameters/sort"}],"description":"This endpoint returns a list of submissions for a form matching the requested parameters. This feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"listFormSubmissions","tags":["Submissions"],"responses":{"200":{"description":"Successfully returned a list of submissions","content":{"application/json":{"schema":{"type":"object","allOf":[{"properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"submissions":{"type":"array","items":{"$ref":"#/components/schemas/Submission"}}}}}},{"$ref":"#/components/schemas/Pagination"}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/Validation"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/forms/{slug_or_id}/submissions/{id}":{"get":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/uuid"}],"description":"This endpoint returns a specific submission by ID. This feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"getFormSubmission","tags":["Submissions"],"responses":{"200":{"description":"Successfully returned a single submission that matched the provided ID\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"submission":{"$ref":"#/components/schemas/Submission"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"delete":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/uuid"}],"description":"This endpoint deletes a specific submission by ID.\nThis feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"deleteFormSubmission","tags":["Submissions"],"responses":{"200":{"description":"Successfully deleted a single submission that matched the provided ID\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/submissions/{id}":{"get":{"parameters":[{"$ref":"#/components/parameters/uuid"}],"description":"This endpoint returns a specific submission by ID. This feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"getSubmission","tags":["Submissions"],"responses":{"200":{"description":"Successfully returned a single submission that matched the provided ID\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"submission":{"$ref":"#/components/schemas/Submission"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"delete":{"parameters":[{"$ref":"#/components/parameters/uuid"}],"description":"This endpoint deletes a specific submission by ID.\nThis feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"deleteSubmission","tags":["Submissions"],"responses":{"200":{"description":"Successfully deleted a single submission that matched the provided ID\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/forms/{slug_or_id}/partial-submissions":{"get":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/afterId"},{"$ref":"#/components/parameters/beforeId"},{"$ref":"#/components/parameters/beforeDate"},{"$ref":"#/components/parameters/afterDate"},{"$ref":"#/components/parameters/sort"}],"description":"This endpoint returns a list of partial submissions for a form matching the requested parameters. This feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"listFormPartialSubmissions","tags":["Partial Submissions"],"responses":{"200":{"description":"Successfully returned a list of partial submissions","content":{"application/json":{"schema":{"type":"object","allOf":[{"properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"partial-submissions":{"type":"array","items":{"$ref":"#/components/schemas/PartialSubmission"}}}}}},{"$ref":"#/components/schemas/Pagination"}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/Validation"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/forms/{slug_or_id}/partial-submissions/{id}":{"get":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/uuid"}],"description":"This endpoint returns a specific partial submission by ID. This feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"getFormPartialSubmission","tags":["Partial Submissions"],"responses":{"200":{"description":"Successfully returned a single partial submission that matched the provided ID\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"partial-submission":{"$ref":"#/components/schemas/PartialSubmission"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"delete":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/uuid"}],"description":"This endpoint deletes a specific partial submission by ID. This feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"deleteFormPartialSubmission","tags":["Partial Submissions"],"responses":{"200":{"description":"Successfully deleted a single partial submission that matched the provided ID\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/partial-submissions/{id}":{"get":{"parameters":[{"$ref":"#/components/parameters/uuid"}],"description":"This endpoint returns a specific partial submission by ID. This feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"getPartialSubmission","tags":["Partial Submissions"],"responses":{"200":{"description":"Successfully returned a single partial submission that matched the provided ID\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"partial-submission":{"$ref":"#/components/schemas/PartialSubmission"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"delete":{"parameters":[{"$ref":"#/components/parameters/uuid"}],"description":"This endpoint deletes a specific partial submission by ID. This feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"deletePartialSubmission","tags":["Partial Submissions"],"responses":{"200":{"description":"Successfully deleted a single partial submission that matched the provided ID\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/forms/{slug_or_id}/products":{"get":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/productSearch"}],"description":"This endpoint returns the list of products available for a specific form by slug or ID. This feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"listFormProducts","tags":["Products"],"responses":{"200":{"description":"Successfully returned product for a single form that matched the provided SKU\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"products":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/ProductItem"},{"type":"object","properties":{"sold":{"type":"number","format":"int32","example":10,"readOnly":true,"description":"The quantity sold."}}}]}}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"post":{"parameters":[{"$ref":"#/components/parameters/slugOrID"}],"description":"This endpoint creates a product on a form. Please note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"postFormProduct","tags":["Products"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","allOf":[{"type":"object","properties":{"product_field_key":{"type":"string","description":"The key of a product field on the form.","example":"a1b2c3d4e5"}}},{"$ref":"#/components/schemas/ProductItem"}],"required":["product_field_key","SKU","price","name"]}}}},"responses":{"200":{"description":"Successfully created a new product\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"properties":{"product":{"$ref":"#/components/schemas/ProductItem"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/forms/{slug_or_id}/products/{product_sku}":{"get":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/productSKU"}],"description":"This endpoint returns the product available for a specific form by SKU. This feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"getFormProduct","tags":["Products"],"responses":{"200":{"description":"Successfully returned product for a single form that matched the provided SKU\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"products":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/ProductItem"},{"type":"object","properties":{"sold":{"type":"number","format":"int32","example":10,"readOnly":true,"description":"The quantity sold."}}}]}}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"put":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/productSKU"}],"description":"This endpoint updates a specific product on a form by SKU.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"updateFormProduct","tags":["Products"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductUpdate"}}}},"responses":{"200":{"description":"Successfully updated a single product that matched the provided SKU\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"product":{"$ref":"#/components/schemas/ProductItem"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/Validation"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"delete":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/productSKU"}],"description":"This endpoint deletes a specific product by SKU.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"deleteFormProduct","tags":["Products"],"responses":{"200":{"description":"Successfully deleted a single product that matched the provided SKU\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/forms/{slug_or_id}/products/{product_sku}/quantity":{"put":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/productSKU"}],"description":"This endpoint updates the quantity for a product\nThis feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"updateFormProductQuantity","tags":["Products"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductQuantity"}}},"description":"The body of the request should contain the following fields:\n- quantity\n"},"responses":{"200":{"description":"Successfully updated the product quantity.\n","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"integer","default":1}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/Validation"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/forms/{slug_or_id}/products/{product_sku}/sold":{"put":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/productSKU"}],"description":"This endpoint updates the sold amount for a product\nThis feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"updateFormProductSold","tags":["Products"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductSold"}}},"description":"The body of the request should contain the following fields:\n- sold\n"},"responses":{"200":{"description":"Successfully updated the product sold amount.\n","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"integer","default":1}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/Validation"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/forms/{slug_or_id}/coupons":{"get":{"parameters":[{"$ref":"#/components/parameters/slugOrID"}],"description":"This endpoint returns a list of coupons for a form that are accessible by the authorized user.\nThis feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"listFormCoupons","tags":["Coupons"],"responses":{"200":{"description":"Successfully returned a list of coupons for a form","content":{"application/json":{"schema":{"type":"object","allOf":[{"properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"coupons":{"type":"array","items":{"$ref":"#/components/schemas/CouponWithCode"}}}}}}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"post":{"parameters":[{"$ref":"#/components/parameters/slugOrID"}],"description":"This endpoint creates a specific coupon on a form.\nThis feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"createFormCoupon","tags":["Coupons"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponWithCode","required":["code"]}}}},"responses":{"200":{"description":"Successfully created a single coupon with the provided values\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"coupon":{"$ref":"#/components/schemas/CouponWithCode"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/Validation"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/forms/{slug_or_id}/coupons/{code}":{"get":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/couponCode"}],"description":"This endpoint returns a coupon for a form that is accessible by the authorized user.\nThis feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"getFormCoupon","tags":["Coupons"],"responses":{"200":{"description":"Successfully returned a coupon for a form","content":{"application/json":{"schema":{"type":"object","allOf":[{"properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"coupon":{"$ref":"#/components/schemas/CouponWithCode"}}}}}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"put":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/couponCode"}],"description":"This endpoint updates a specific coupon by code.\nThis feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"updateFormCoupon","tags":["Coupons"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponWithoutCode"}}}},"responses":{"200":{"description":"Successfully updated a single coupon with the provided values\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"coupon":{"$ref":"#/components/schemas/CouponWithCode"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/Validation"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"delete":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/couponCode"}],"description":"This endpoint deletes a specific coupon by code.\nThis feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"deleteFormCoupon","tags":["Coupons"],"responses":{"200":{"description":"Successfully deleted a single coupon that matched the provided code\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/forms/{slug_or_id}/webhooks":{"get":{"parameters":[{"$ref":"#/components/parameters/slugOrID"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/afterId"},{"$ref":"#/components/parameters/beforeId"},{"$ref":"#/components/parameters/beforeDate"},{"$ref":"#/components/parameters/afterDate"},{"$ref":"#/components/parameters/sort"}],"description":"This endpoint returns a list of webhooks for a form that are accessible by the authorized user.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"listFormWebhooks","tags":["Webhooks"],"responses":{"200":{"description":"Successfully returned a list of webhooks for a form","content":{"application/json":{"schema":{"type":"object","allOf":[{"properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"webhooks":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"}}}}}},{"$ref":"#/components/schemas/Pagination"}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"post":{"parameters":[{"$ref":"#/components/parameters/slugOrID"}],"description":"This endpoint creates a specific webhook on a form.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"createFormWebhook","tags":["Webhooks"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook","required":["target_url","triggers"]}}}},"responses":{"200":{"description":"Successfully created a single webhook with the provided values\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"webhook":{"$ref":"#/components/schemas/Webhook"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/Validation"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/webhooks/{id}":{"get":{"parameters":[{"$ref":"#/components/parameters/webhookID"}],"description":"This endpoint returns a webhook for a form by ID.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"getFormWebhook","tags":["Webhooks"],"responses":{"200":{"description":"Successfully returned a webhook for a form by ID","content":{"application/json":{"schema":{"type":"object","allOf":[{"properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"webhook":{"$ref":"#/components/schemas/Webhook"}}}}}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"put":{"parameters":[{"$ref":"#/components/parameters/webhookID"}],"description":"This endpoint updates a specific webhook on a form.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"updateFormWebhook","tags":["Webhooks"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}},"responses":{"200":{"description":"Successfully updated a single webhook with the provided values\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"webhook":{"$ref":"#/components/schemas/Webhook"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/Validation"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"delete":{"parameters":[{"$ref":"#/components/parameters/webhookID"}],"description":"This endpoint deletes a specific webhook by ID.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"deleteFormWebhook","tags":["Webhooks"],"responses":{"200":{"description":"Successfully deleted a single webhook that matched the provided ID\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/spaces":{"get":{"parameters":[{"$ref":"#/components/parameters/spaceSearch"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/afterId"},{"$ref":"#/components/parameters/beforeId"},{"$ref":"#/components/parameters/beforeDate"},{"$ref":"#/components/parameters/afterDate"},{"$ref":"#/components/parameters/sort"}],"description":"This endpoint returns a list of spaces that are accessible by the authorized user.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"listSpaces","tags":["Spaces"],"responses":{"200":{"description":"Successfully returned a list of spaces","content":{"application/json":{"schema":{"type":"object","allOf":[{"properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"spaces":{"type":"array","items":{"$ref":"#/components/schemas/Space"}}}}}},{"$ref":"#/components/schemas/Pagination"}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"post":{"description":"This endpoint creates a space.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"createSpace","tags":["Spaces"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Space","required":["name"]}}}},"responses":{"200":{"description":"Successfully created a space with the provided values\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"space":{"$ref":"#/components/schemas/Space"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/Validation"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/spaces/{id}":{"get":{"parameters":[{"$ref":"#/components/parameters/spaceID"}],"description":"This endpoint returns a spaces by ID.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"getSpace","tags":["Spaces"],"responses":{"200":{"description":"Successfully returned a space","content":{"application/json":{"schema":{"type":"object","allOf":[{"properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"space":{"$ref":"#/components/schemas/Space"}}}}}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"put":{"parameters":[{"$ref":"#/components/parameters/spaceID"}],"description":"This endpoint updates a space.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"updateSpace","tags":["Spaces"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Space"}}}},"responses":{"200":{"description":"Successfully updated a space with the provided values\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"space":{"$ref":"#/components/schemas/Space"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/Validation"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/spaces/{id}/forms":{"get":{"parameters":[{"$ref":"#/components/parameters/spaceID"}],"description":"This endpoint returns a list of forms for a space that are accessible by the authorized user.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"getSpaceForms","tags":["Spaces"],"responses":{"200":{"description":"Successfully returned forms for a space","content":{"application/json":{"schema":{"type":"object","allOf":[{"properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"forms":{"type":"array","items":{"$ref":"#/components/schemas/FormFieldCollectionItem"}}}}}}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/translations":{"get":{"parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/afterId"},{"$ref":"#/components/parameters/beforeId"},{"$ref":"#/components/parameters/beforeDate"},{"$ref":"#/components/parameters/afterDate"},{"$ref":"#/components/parameters/sort"}],"description":"This endpoint returns a list of translations that are accessible by the authorized user.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"listTranslations","tags":["Translations"],"responses":{"200":{"description":"Successfully returned a list of translations","content":{"application/json":{"schema":{"type":"object","allOf":[{"properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"translations":{"type":"array","items":{"$ref":"#/components/schemas/Translation"}}}}}},{"$ref":"#/components/schemas/Pagination"}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"post":{"description":"This endpoint creates a translation.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"createTranslation","tags":["Translations"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Translation","required":["title"]}}}},"responses":{"200":{"description":"Successfully created a translation with the provided values\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"translation":{"$ref":"#/components/schemas/Translation"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/Validation"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/translations/{id}":{"get":{"parameters":[{"$ref":"#/components/parameters/translationID"}],"description":"This endpoint returns a translation by ID.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"getTranslation","tags":["Translations"],"responses":{"200":{"description":"Successfully returned a list translation","content":{"application/json":{"schema":{"type":"object","allOf":[{"properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"translation":{"$ref":"#/components/schemas/Translation"}}}}}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"put":{"parameters":[{"$ref":"#/components/parameters/translationID"}],"description":"This endpoint updates a translation.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"updateTranslation","tags":["Translations"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Translation"}}}},"responses":{"200":{"description":"Successfully updated a translation with the provided values\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"translation":{"$ref":"#/components/schemas/Translation"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/Validation"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}},"delete":{"parameters":[{"$ref":"#/components/parameters/translationID"}],"description":"This endpoint deletes a specific translation by ID.\nPlease note that this feature is exclusively available as part of the [Business API](https://paperform.co/pricing/).\n","operationId":"deleteTranslation","tags":["Translations"],"responses":{"200":{"description":"Successfully deleted a single translation that matched the provided ID\n","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/files":{"post":{"description":"This endpoint returns a signed URL for a file and a direct access URL for a file.\nThis feature is available as part of the [Standard API](https://paperform.co/pricing/).\n","operationId":"getFileUrls","tags":["Files"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileUrl"}}}},"responses":{"200":{"description":"Successfully returned a signed URL for a file and a direct access URL for a file","content":{"application/json":{"schema":{"type":"object","allOf":[{"properties":{"status":{"type":"string","enum":["ok"]},"results":{"type":"object","properties":{"file_url":{"type":"string","description":"The signed URL for the file"},"storage_url":{"type":"string","description":"The direct access URL for the file"}}}}}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/Throttled"},"5XX":{"$ref":"#/components/responses/Unexpected"}}}},"/papersign/documents":{"get":{"parameters":[{"$ref":"#/components/parameters/papersignDocumentSearch"},{"$ref":"#/components/parameters/papersignDocumentSubmissionId"},{"$ref":"#/components/parameters/papersignDescendantOfFolderId"},{"$ref":"#/components/parameters/papersignDocumentSpaceId"},{"$ref":"#/components/parameters/papersignDocumentStatus"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/afterId"},{"$ref":"#/components/parameters/beforeId"},{"$ref":"#/components/parameters/beforeDate"},{"$ref"
[...]
