openapi: 3.2.0
info:
  version: 1.0.0
  title: Paperform Papersign Folders API
  contact:
    name: Paperform API Support
    url: https://paperform.co
    email: support@paperform.co
servers:
- url: https://api.paperform.co/v1
security:
- bearerAuth: []
tags:
- name: Papersign Folders
paths:
  /papersign/folders:
    get:
      parameters:
      - $ref: '#/components/parameters/papersignSpaceId'
      - $ref: '#/components/parameters/papersignDescendantOfFolderId'
      - $ref: '#/components/parameters/folderSearch'
      description: 'This endpoint returns a list of Papersign folders.

        Please note that this feature is exclusively available as part of the Papersign API.'
      operationId: listPapersignFolders
      tags:
      - Papersign Folders
      responses:
        '200':
          description: 'Successfully returned a list of Papersign folders

            '
          content:
            application/json:
              schema:
                type: object
                allOf:
                - properties:
                    status:
                      type: string
                      enum:
                      - ok
                    results:
                      type: object
                      properties:
                        folders:
                          type: array
                          items:
                            $ref: '#/components/schemas/PapersignFolder'
                - $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/Throttled'
        5XX:
          $ref: '#/components/responses/Unexpected'
      summary: List papersign folders
      x-summary-source: derived
    post:
      description: 'This endpoint returns a creates a new Papersign folder.

        Please note that this feature is exclusively available as part of the Papersign API.'
      operationId: postPapersignFolders
      tags:
      - Papersign Folders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PapersignFolderCreate'
      responses:
        '200':
          description: 'Successfully created a new Papersign Folder

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - ok
                  results:
                    type: object
                    properties:
                      folder:
                        $ref: '#/components/schemas/PapersignFolder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/Throttled'
        5XX:
          $ref: '#/components/responses/Unexpected'
      summary: Post papersign folders
      x-summary-source: derived
components:
  parameters:
    papersignSpaceId:
      in: query
      name: space_id
      schema:
        type: string
      description: Search folders by space id. Accepts either a space id from `GET /papersign/spaces` or a space id issued before your account moved to unified spaces. Responds `422` if the id is not a positive integer, or names a space that does not exist, has been deleted, or belongs to another team.
      example: '9999'
    papersignDescendantOfFolderId:
      in: query
      name: folder_id
      schema:
        type: string
      description: Search folders that are descendants of folder id. Accepts either a current folder id or one issued before your account moved to unified spaces. Responds `422` if the id is not a positive integer, or names a folder that does not exist, has been deleted, or belongs to another team.
      example: '9999'
    folderSearch:
      in: query
      name: search
      schema:
        type: string
      description: Search folders by name.
      example: John Doe
  schemas:
    Pagination:
      type: object
      properties:
        total:
          type: integer
          description: The total number of items.
          readOnly: true
          example: 57
        has_more:
          description: Whether there are more items.
          type: boolean
          example: true
          readOnly: true
        limit:
          description: The limit of items per page.
          type: integer
          example: 20
          default: 20
        skip:
          description: The number of items to skip.
          type: integer
          default: 0
          example: 0
    PapersignFolderCreate:
      type: object
      properties:
        name:
          type: string
          description: The new name of the folder.
          example: My new folder
        space_id:
          type: number
          format: int32
          description: The unique identifier of the space to create the folder in.
          example: 8888
        path:
          type: string
          maxLength: 100
          description: The path to create the folder in. Maximum depth is 4 levels. Any missing folders will also be created.
          example: /path/to/folder
        folder_id:
          type: number
          format: int32
          description: The unique identifier of the folder to create the folder in. Required when space_id and path are not present.
          example: 9999
      required:
      - name
    PapersignFolder:
      type: object
      properties:
        id:
          type: number
          format: int32
          readOnly: true
          description: The unique identifier of the folder.
          example: 9999
        name:
          type: string
          description: The name of the document.
          example: My Document
        parent_id:
          type:
          - number
          - 'null'
          format: int32
          description: The unique identifier of the parent folder.
          example: 9999
        space_id:
          type: number
          format: int32
          description: The unique identifier of the space.
          example: 8888
      required:
      - name
    Error:
      type: object
      properties:
        status:
          type: string
          enum:
          - error
          example: error
        message:
          type: string
          description: An error message.
          example: Invalid request
        details:
          type: array
          description: Suggested actions to resolve the error.
          items:
            type: string
  responses:
    Forbidden:
      description: Not Permitted
      content:
        application/json:
          schema:
            type: object
            allOf:
            - $ref: '#/components/schemas/Error'
            - properties:
                error_type:
                  type: string
                  enum:
                  - permission
                  description: Not permitted to access requested resource.
    Unexpected:
      description: Unexpected Error
      content:
        application/json:
          schema:
            type: object
            allOf:
            - $ref: '#/components/schemas/Error'
            - properties:
                error_type:
                  type: string
                  enum:
                  - server_error
                  description: An unexpected error.
    Validation:
      description: Validation Error
      content:
        application/json:
          schema:
            type: object
            allOf:
            - $ref: '#/components/schemas/Error'
            - properties:
                error_type:
                  type: string
                  enum:
                  - validation
                  description: Invalid parameters provided.
    BadRequest:
      description: Invalid Request
      content:
        application/json:
          schema:
            type: object
            allOf:
            - $ref: '#/components/schemas/Error'
            - properties:
                error_type:
                  type: string
                  enum:
                  - validation
                  description: Invalid parameters provided.
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            allOf:
            - $ref: '#/components/schemas/Error'
            - properties:
                error_type:
                  type: string
                  enum:
                  - not_found
                  description: The requested resource was not found.
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            allOf:
            - $ref: '#/components/schemas/Error'
            - properties:
                error_type:
                  type: string
                  enum:
                  - authentication
                  description: Token not provided for not valid.
    Throttled:
      description: Too Many Requests
      content:
        text/html:
          schema:
            type: string
            enum:
            - Too many requests.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-readme:
  explorer-enabled: true
  proxy-enabled: true
